.img1 {
    width: 1000px;
    height: auto;
    margin: 10px;
    display:inline-block;
}
.img2 {
    width: 1000px;
    height: auto;
    margin: 10px;
    display:inline-block;
}
.img3 {
    width: 1000px;
    height: auto;
    margin: 10px;
    display:inline-block;
}
.img4 {
    width: 1000px;
    height: auto;
    margin: 10px;
    display:inline-block;
}
li {
    display: inline;
    margin: 15px;

}
header {
    background:lightblue; margin:10px;
}
ul {
    text-align: center;
}